@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700|Roboto:400,700');

:root {
    --primary: #1070DE;
    --light: #5497E3;
    --dark: #07305E;
}

body {
    margin: 0 auto;
    font-family: "Roboto", "Arial", sans-serif;
    line-height: 1.5;
}

nav {
    margin: 2rem;
    display: flex;
    justify-content: flex-end;
}

    nav a {
        margin-right: 1rem;
    }

code, pre {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre {
    padding: 1em;
}

h1 {
    font-size: 3rem;
    display: inline-block;
}

a, a:visited, a:hover, a:focus, a:active {
    color: var(--primary);
    text-decoration: none;
}

    a.link {
        box-shadow: inset 0px -3px 0px 0px var(--light);
        display: inline-block;
        padding: 0.2rem;
        transition: background 0.3s cubic-bezier(.25, .8, .25, 1), color 0.3s cubic-bezier(.25, .8, .25, 1);
    }

        a.link:hover {
            background: var(--light);
            color: white;
        }

        a.link:active {
            color: #FF351C;
        }

h2 span {
    box-shadow: inset 0px -5px 0px 0px var(--light);
    font-size: 1.5rem;
}

header {
    background-color: #eee;
    background-image: url("img/header.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 1.2;
    padding: 5rem;
}

@media screen and (max-width: 1200px) {
    header {
        padding: 5rem 2rem;
    }
}

header p {
    font-size: 1.2rem;
}

.content-wrapper {
    background: rgba(255, 255, 255, 0.42);
    padding: 2rem;
}

.plex {
    font-family: 'IBM Plex Sans';
}

div.container {
}

main {
    padding: 1rem 2rem;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
}

.card {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: background 0.3s cubic-bezier(.25, .8, .25, 1);
    margin: 3rem;
    flex: 1 0 calc(33% - 10px);
    background: #FFF;
    display: flex;
    flex-flow: row wrap;
    transition: transform 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media screen and (max-width: 760px) {
    .card {
        flex: 1;
        margin: 2rem 1rem;
    }
}

.card .card-body {
    flex: 3;
    display: flex;
    flex-flow: column wrap;
}

    .card .card-body .card-text {
        flex: 1;
    }

.card .card-header > * {
    margin: 1rem 2rem 1rem 2rem;
}

.card .card-header {
    border-bottom: 1px solid #80808026;
}

.card .card-header {
    font-family: 'IBM Plex Sans';
    color: grey;
    line-height: 1rem;
    font-size: 0.8rem;
}

.card .card-body .card-text > * {
    margin: 2rem;
}

.card .card-footer a {
    width: calc(100% - 1rem);
    padding: 0;
    text-align: center;
    display: inline-block;
    padding: 0.5rem;
    background-color: var(--dark);
    color: white;
}

    .card .card-footer a:hover {
        background-color: var(--light);
    }

.card .card-footer {
    border-top: 1px solid #80808026;
}

.card .card-image {
    flex: 2;
    max-height: 100%;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.card:hover {
    background: #efefef;
    transform: scale(1.04);
}

    .card:hover .card-image {
    }


.pagination-wrapper {
    margin: 1rem auto;
    max-width: 600px;
    display:flex;
    justify-content: center;
}

@media screen and (max-width: 760px) {
    .pagination-wrapper {
        max-width: 80%;
    }

        .pagination-wrapper .pagination {
            width: 100%;
        }
    
    .mobile-hide {
        display: none !important;
    }
}

    .pagination-wrapper .pagination {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
        display: flex;
        justify-content: space-evenly;
    }

        .pagination-wrapper .pagination p.disabled {
            margin: 0;
            padding: 0;
            cursor: not-allowed;
            opacity: 0.5;
            text-decoration: none;
        }
        .pagination-wrapper .pagination a, .pagination-wrapper .pagination p.disabled {
            padding: 1rem;
            border-left: 1px solid #c3c3c352;
            flex: 1 1 1px;
            text-align: center;
            transition: background 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            font-size: 0.8rem;
        }

            .pagination-wrapper .pagination a:hover {
                background: #efefef;
            }

            .pagination-wrapper .pagination a.active {
                background: var(--dark);
                color: white;
            }



/* ----------------------------------------------
 * Generated by Animista on 2019-4-26 19:22:27
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
.fade-in {
    -webkit-animation: fade-in 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 300ms cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
